<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="#/Icon-60@2x.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="#/Icon-60@3x.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="#/Icon-76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="#/Icon-76@2x.png" />
    <link rel="apple-touch-icon" sizes="58x58" href="#/Icon-Small@2x.png" /> -->

    <title>Page Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="#" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom app CSS -->
    <link rel="stylesheet" href="css/app.css">

  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Front-end JS -->
    <script src="js/app.js"></script>
  </body>
</html>
